/*--OUR STORY PART START--*/
.ourStory {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourStory img {
    margin-right: 20px;
}

.ourStoryW {
    width: 400px;
}
/*--OUR STORY PART END--*/
/*--OUR GOALS PART START--*/
.ourGoals {
    margin-top: 50px;
}

.ourGoals1 {
    display: flex;
    flex-direction: column;
    margin: auto;  /*center*/
    text-align: center;
    width: 800px;
}

.ourGoals2 {
    display: flex;
}

.ourGoalsI {
    display: flex;
    flex-direction: column;
}
/*--OUR GOALS PART END--*/