/*--OUR STORY PART START--*/
.ourStory {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourStory img {
    margin-right: 20px;
}

.ourStoryW {
    width: 400px;
}
/*--OUR STORY PART END--*/