*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: large;
}

.mainform {
    padding: 50px;
    align-items: center; 
}

.twinForm{
    display: flex; /* to put 2 div side by side*/
}

