*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: large;
}

.mainform {
    padding: 50px;
    align-items: center; 
}

.twinForm{
    display: flex; /* to put 2 div side by side*/
}

.twinForm .form1 input {
    width: 550px;
    height: 50px;
    border: none;
    background-color: #d6e5d8;
    border-radius: 5px;
    margin-bottom: 10px;
}

.twinForm .form2 input, select {
    width: 600px;
    height: 50px;
    border: none;
    background-color: #d6e5d8;
    border-radius: 5px;
    margin-bottom: 10px;
}