* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.infoW {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoW a {
    text-decoration: none;
    display: inline-block;
    background-color: #26643b;
    color: #f5fcf4;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: large;
}

.infoW a:visited {
    color: #f5fcf4;
}

.infoW h1 {
    margin-bottom: 10px;
}

.infoW p {
    margin-bottom: 20px;
}