* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--INFO PART START--*/
.info {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.infoW {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoW a {
    text-decoration: none;
    display: inline-block;
    background-color: #26643b;
    color: #f5fcf4;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: large;
}

.infoW a:visited {
    color: #f5fcf4;
}

.infoW h1 {
    margin-bottom: 10px;
}

.infoW p {
    margin-bottom: 20px;
}
/*--INFO PART END--*/
/*--CONTACT PART START--*/
.contacts {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contacts .hour, .address, .phone {
    width: 200px;
    height: 200px;
    background-color: #d6e5d8;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 40px; /*for center the contents*/
}

/*--CONTACT PART END--*/
/*--SPECIALS PART START--*/
.specials {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.specials1, .specials2 {
    width: 300px;
    background-color: #d6e5d8;
    border-radius: 10px;
    padding: 20px;
    margin-right: 40px;
}

.specials3 {
    width: 300px;
}

.specials .food1, .food3{
    height: 150px;
    border-radius: 10px;
}

.specials3 a {
    text-decoration: none;
    display: inline-block;
    background-color: #26643b;
    color: #f5fcf4;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: large;
    margin-top: 15px;
}

/*--SPECIALS PART END--*/
/*--TOP DISHES PART START--*/
.topDish{
    margin-top: 50px;
}

.topDish .header {
    margin-left: 50px;
}

.dish {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.dish .dish1, .dish2, .dish3{
    display: flex;
    background-color: #d6e5d8;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}

.dish .food1, .food2, .food3 {
    height: 130px;
    border-radius: 10px;
    margin-right: 5px;
}
/*--TOP DISHES PART END--*/
/*--DISCOUNT PART START--*/
.discount {
    background-color: #d6e5d8;
    width: 1200px;
    display: flex;
    margin:auto;
    margin-top: 50px;
    padding: 20px;
    background-image: url(images/discount-illustration.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150px;
    border-radius: 10px;
}

.discount .food-1, .food-2, .food-3{
    height: 350px;
    border-radius: 10px;
    width: 250px;
    object-fit: cover;
    margin-left: 15px;

}
.discountW {
    margin: 50px;
}
.discount a {
    text-decoration: none;
    display: inline-block;
    background-color: #26643b;
    color: #f5fcf4;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: large;
    margin-top: 15px;
}
/*--DISCOUNT PART END--*/
/*--EVENT PART START--*/
.event {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 1200px;
    margin:auto;
    margin-top: 50px;
}
/*--EVENT PART END--*/
/*--EVENT INFO PART START--*/
.eventInfoMain {
    margin-top: 50px;
}

.eventInfo {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 10px;
}

.eventInfo1 {
    display: flex;
    background-color: #d6e5d8;
    height: 200px;
}

.eventInfo .eventInfo1, .eventInfo2{
    border-radius: 10px;
    width: 500px;
    padding: 20px;
}

.eventInfo img {
    border-radius: 10px;
    margin-right: 10px;
}

.eventInfo2 a {
    text-decoration: none;
    display: inline-block;
    background-color: #26643b;
    color: #f5fcf4;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: large;
    margin-top: 15px;
}
/*--EVENT INFO PART END--*/
/*--WHY US PART START--*/
.why {
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.why .why1 {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.why .why2 {
    width: 500px;
    display: flex;
}

.whyIcon {
    background-color: #d6e5d8;
    border-radius: 10px;
    margin: 5px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/*--WHY US PART END--*/
/*--CUSTOMER PART START--*/
.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.customerMain {
    display: flex;
}

.customerD {
    display: flex;
    width: 500px;
    height: 250px;
    background-color: #d6e5d8;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.customerD img {
    border-radius: 10px;
    margin-right: 15px;
}
/*--CUSTOMER PART END--*/
/*--NEWSLETTER PART START--*/
.news {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/*--NEWSLETTER PART END--*/