* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--INFO PART START--*/
.info {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.infoW {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoW a {
    text-decoration: none;
    display: inline-block;
    background-color: #26643b;
    color: #f5fcf4;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: large;
}

.infoW a:visited {
    color: #f5fcf4;
}

.infoW h1 {
    margin-bottom: 10px;
}

.infoW p {
    margin-bottom: 20px;
}
/*--INFO PART END--*/
/*--CONTACT PART START--*/
.contacts {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contacts .hour, .address, .phone {
    width: 200px;
    height: 200px;
    background-color: #d6e5d8;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 40px; /*for center the contents*/
}

/*--CONTACT PART END--*/
/*--SPECIALS PART START--*/

.specials .food1{
    height: 150px;
}

.specials .food3{
    height: 150px;
}

/*--SPECIALS PART END--*/