/*--TOP DISHES PART START--*/
.topDish{
    margin-top: 50px;
}

.topDish .header {
    margin-left: 50px;
}

.dish {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.dish .dish1, .dish2, .dish3{
    display: flex;
    background-color: #d6e5d8;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}

.dish .food1, .food2, .food3 {
    height: 130px;
    border-radius: 10px;
    margin-right: 5px;
}
/*--TOP DISHES PART END--*/
/*--OUR SPECIALS PART START--*/
.specials {
    display: flex;
    flex-direction: column;
}

.specials .header {
    margin-left: 50px;
    margin-bottom: 20px;
}

.specialsMain {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.specials1 {
    display: flex;
    background-color: #d6e5d8;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
}

.specials1 .food {
    width: 300px;
    border-radius: 10px;
    margin-right: 10px;
}
/*--OUR SPECIALS PART END--*/
/*--BREAKFAST PART START--*/
.breakfastMain {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.breakfast1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: #d6e5d8;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}
/*--BREAKFAST PART END--*/