@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f5fcf4;
}

/*-----NAV BAR START-----*/

.cont {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center; 
}

.contNav {
    padding-left: 600px;
}

.contNav ul li {
    list-style-type: none;
    display: inline-block;  /* horizontally list */
    margin: 0 10px;  /* horizontally list */
    font-weight: 600;
    font-size: large;
}

.contNav .liNav{
    text-decoration: none;
    color: #474444;
}

.contNav .btnNav {
    text-decoration: none;
    background-color: #26643b;
    color: #f5fcf4;
    padding: 15px;
    border-radius: 8px;
}

/*-----NAV BAR END-----*/

/*-----FOOTER START-----*/

footer {
    display: flex;
    justify-content: space-evenly;
    width: 1300px;
}

footer ul {
    list-style-type: none;
}

footer .social {
    width: 400px;
}



/*-----FOOTER END-----*/
